#title {
  background-color: #ff4c68;
  z-index: -2;
  position: relative;
  padding-bottom: 10rem;
}

.tindog-image {
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  z-index: -1;
}

@media (max-width:1028px) {
  .tindog-image {
    position: static;
    transform: rotate(0);
  }
  #title {
    text-align: center;
  }
}

.title-image-container {
  position: relative;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

h2 {
  font-style: 'Montserrat', sans-serif;
  font-weight: bold;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icons {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icons:hover {
  color: #ff4c68;
}


#features {
  padding: 7% 15%;
  position: relative;
  background-color: white;
  z-index: -1;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar {
  padding-bottom: 4.5rem;
}

.container-fluid {
  padding: 3% 15%;
}

.download-button {
  margin: 5% 3% 5% 0;
}


body{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

#pricing {
  text-align: center;
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

#cta {
  font-style: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  background-color: #ff4c68;
  padding: 3% 15%;
}

.cta-buttons {
  margin: 2% 3% 3% 0;
}

footer {
  text-align: center;
  background-color: #fff;
  padding: 2% 0 0 0;
}

p {
  color: grey;
}
